.ClassmatesList {
    display: flex;
    justify-content: center;
}

.ClassmatesList table{
    max-width: 750px;
    margin-top: 20px;
}

.Profile .match {
    color: green;
}

.Profile h4 {
    text-align: center;
}